<% provide :title, @taxon.name %>

<!-- LIGHT SECTION -->
<%= render partial: "page_header", locals: { taxon: @taxon } %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">

      <!-- SIDE BAR -->
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render partial: "products_categories", locals: { taxonomies: @taxonomies } %>
        <%= render partial: "color_filter" %>
        <%= render partial: "size_filter" %>
      </div>

      <!-- MAIN PRODUCT LIST -->
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render partial: "sort_area" %>
        <%= render partial: "products_area", locals: { products: @products } %>
      </div>
    </div>
  </div>
</section>

<!-- LIGHT SECTION -->
<%= render "shared/partners_logo_slider" %>
