<ul class="list-inline">
  <li>
    <%= link_to potepan_category_path product.taxons.first.id do %>
      <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
    <% end %>
  </li>
</ul>
<h2 class="main-product-name"><%= product.name %></h2>
<h3><%= product.display_price %></h3>
<p><%= product.description %></p>
