<% provide :title, @product.name %>

<!-- LIGHT SECTION -->
<%= render partial: "page_header", locals: { product: @product } %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">

    <!-- MAIN PRODUCT -->
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
        <%= render partial: "product_slider", locals: { product: @product } %>
          <div class="media-body">
            <%= render partial: "product_informations", locals: { product: @product } %>
            <%= render partial: "option_select_area" %>
            <div class="btn-area">
              <a href="cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- RELATED PRODUCT -->
    <%= render partial: "related_products_area", locals: { related_products: @related_products } %>
  </div>
</section>
